/* 'Montserrat', sans-serif; */ @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/* 'Raleway', sans-serif; */ @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
/* 'Tourney', cursive; */ @import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap');
/* 'Quicksand', sans-serif; */ @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/* 'Kanit', sans-serif; */ @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');