@media screen and (max-width: 1100px){
    .box{
        display: initial;
        transform: translate(-50%, -50%) scale(1.9);
        height: 400px;
    }
    .box img{
        width: 100%;
    }
    .box .description{
        margin-top: -10px;
    }
    .box .title h1{
        color: black;
    }
    .box .social-media{
        color: black;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: -45px;
    }
    .copyright{
        display: none;
    }
}
