@media screen and (max-width: 1100px){
    .box{
        position: initial;
        display: initial;
    }
    .box img{
        height: 100%;
    }
    .box .title{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .box .description{
        margin-top: -100px;
    }
    .box .title h1{
        color: white;
    }
    .box .social-media{
        display: block;
    }
    .copyright{
        display: none;
    }
}